 #alert-wrapper {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 6.5rem;
    background-color: transparent;
}
#alert-wrapper.active {
    background-color: #ffef94;
    border-bottom: 1px solid #eee;
}
#alert-container p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    line-height: 6.5rem;
    color: #222;
}
@media (min-width: 1200px) {
    #alert-container p {
        margin-left: -100px;
    }
}
header {
    margin-top: 75px;
    margin-bottom: 25px;
}
