# After updating this file, run `pip-compile` to update requirements.txt.

psycopg2-binary            # postgres connector

# Django stuff
Django
django-simple-history      # tracks changes made to model instances
channels                   # websockets
channels_redis             # websockets helper
whitenoise                 # something about static assets....

# Admin stuff
pip-tools                  # freeze requirements.txt
Fabric3                    # project automation

# Testing
pytest-django              # testing
flake8                     # code linting
